.bg-image {
  position: relative; /* Ensure position is relative for absolute positioning of overlay */
  background-image: url('../assets/bg.jpg');
  background-size: cover; /* This makes sure the image covers the entire element */
  background-position: center; /* Centers the image in the element */
  height: 500px; /* Adjust the height as needed */
  z-index: 2;
}

.bg-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.158); /* Adjust the alpha (last value) to control darkness */
  z-index: -1;
}
